[Unit]
Description=Vacuum control service
After=multi-user.target

[Service]
Type=idle
ExecStart=/home/pi/vacuumcontrol.sh

TimeoutStopSec=2
ExecStop=/home/pi/vacuumshutdown.sh

[Install]
WantedBy=multi-user.target
